@use "../vars" as *;
@use "../shared";

#emoji-picker-tab-panel {
    .emojiPicker_c6ee36 {
        @include shared.pickergrid;
        grid-template-rows: 46px auto 0;
        grid-template-columns: 0 auto;

        .header_c6ee36 {
            box-shadow: none;

            // Search bar
            .container_effbe2 {
                @include shared.searchbar;
            }

            // Skin tone selector
            .diversitySelectorOptions_cce80d {
                border-radius: $rad-inner;
            }
        }

        // Emoji list wrapper
        .bodyWrapper_c6ee36 {
            height: 320px;
            padding-left: 10px;
            padding-right: 5px;

            // Emoji
            .emojiItemImageLoading-1yEIxx {
                background-image: none;
                background-color: $bg-2 !important;
            }
        }
    }

    // Server list
    .wrapper_dc0b29.categoryList_c6ee36 {
        @include shared.serverlist;

        .categoryItemDefaultCategory_dfa278 {
            border-radius: $rad-icon;
        }
    }
}
