@use "../vars" as *;
@use "../shared";

#sticker-picker-tab-panel {
    grid-template-columns: 0 auto;
    padding-top: 64px;

    .header-uVCAlo {
        box-shadow: none;

        // Search bar
        .container-1SX9VC {
            @include shared.searchbar;
        }
    }

    // Sticker picker
    .wrapper-i1awk3 {
        padding-left: 10px;
        .listWrapper-2DwCYS {
            @include shared.pickergrid;
        }
    }

    // Server list
    .wrapper-22rqw6 {
        @include shared.serverlist;

        .stickerCategory-2f6iSo {
            border-radius: $rad-icon;
        }
    }
}
