@use "../vars" as *;
@use "../shared";

#sticker-picker-tab-panel {
    grid-template-columns: 0 auto;
    padding-top: 64px;

    .header_f71767 {
        box-shadow: none;

        // Search bar
        .container_e4c233 {
            @include shared.searchbar;
        }
    }

    // Sticker picker
    .wrapper_e3070a {
        padding-left: 10px;
        .listWrapper__74641 {
            @include shared.pickergrid;
        }
    }

    // Server list
    .wrapper__4f229 {
        @include shared.serverlist;

        .stickerCategory__4891e {
            border-radius: $rad-icon;
        }
    }
}
