@use "./vars" as *;

@mixin searchbar {
    background: $bg-2;
    border-radius: $rad-inner;
}

@mixin serverlist {
    transform: rotate(-90deg) translateX(225px) translateY(190px);
    height: 400px;
    border-radius: $rad-inner;

    // Server/category
    .categoryItem__4a642,
    .stickerCategory__12120 {
        transform: rotate(90deg);
        border-radius: $rad-icon;
    }

    // Jump to default stickers
    .standardStickerShortcut_e9a698,
    // Jump to default emojis
    .unicodeShortcut__01a83 {
        transform: rotate(90deg);
    }
}

@mixin pickergrid {
    position: relative;
    padding-top: 65px;
    width: 428px;
}

@mixin tabbar {
    position: absolute;
    bottom: -50px;
    left: -1px;
    height: 40px;
    width: 426px;
    padding: 5px 0;
    border-radius: 0 0 $rad-outer $rad-outer;
    background-color: $bg-1;
    display: flex;
    justify-content: center;
    z-index: 101;
}
