@use "./vars" as *;
@use "./shared";

@forward "./types";

// Chat picker
// Sizing wrapper
.drawerSizingWrapper__30274 {
    height: 442px !important;
    max-width: 424px;

    // Resizing handle
    .resizeHandle__86d9c {
        display: none;
        cursor: default;
    }

    // Tightest wrapper around whole popout
    .contentWrapper__321ed {
        grid-template-rows: auto;
        min-height: 442px !important;
        border-radius: $rad-outer $rad-outer 0 0;
        overflow: visible;

        // Gif/sticker/emoji tab bar
        .nav__2bf35 {
            @include shared.tabbar;

            .navButton__05cc7 {
                border-radius: $rad-inner;
            }
        }
    }
}

// Reaction picker
.contentWrapper_eab878 {
    width: unset;
    height: unset;
    border-radius: $rad-outer;
    --custom-reaction-picker-border-radius: #{$rad-outer};

    // Reactions / Super Reactions tab bar
    .nav__2aafa {
        .navList__8438b {
            justify-content: center;
        }
        .navButton__0565e {
            border-radius: $rad-inner;
        }
    }
}

// Emoji/sticker info
.inspector__993e1 {
    height: 0;
    display: none;
}
